
    .containerNav{
        display: flex;
        min-height: 120px;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;

    }
    .containerFundoPreto{
        width: 100% ;
        height: 200px;
        position: absolute;
    }
    .fundoPreto{
        background-color: #1d1d1d;
        width: 100%;
        height: 200px;
        /* border-radius: 100%; */
        margin: 0 auto;
    }
    .containerLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        gap: 70px;
        z-index: 1;
        /* height: 45px; */
    }
    .link{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }
    .link:hover{
        color: #EAC774;
    }


