
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
  --max-width: 1100px;
}
.containerTela{
  margin: 20px 40px;
}
