@media screen and (min-width: 831px) {
    .containerForaFraseBotaoCards{
        width: 100%;
        min-height: 450px;
        position: relative;
        background: linear-gradient(to bottom, #D9D9D9, transparent);

        /* overflow: hidden; */
    }

    .containerFraseBotao{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 20px;
    }
    .containerFrase{
        width: 500px;
        font-size: 50px;
        font-weight: 600;
        color: #fff;
    }
    .containerBotaoCotacao{
        width: 320px;

        margin: 20px 0;
        padding: 10px 0;
        border-radius: 25px;
        text-align: center;
        background-color: #000;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }
    .containerBotaoCotacao:hover{
        color: #EAC774;
    }
    .containerSlider{
        /* padding: 0 20px; */
        /* height: 500px; */
        background: linear-gradient(to bottom, #cecece, transparent);
    }
    .containerImagemSlider{
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
    }
    .imagem1Slide{
        background-image: url("../public/slide/image1.jpg");
    } 
    .imagem2Slide{
        background-image: url("../public/slide/image2.jpg");
    }
    .imagem3Slide{
        background-image: url("../public/slide/image3.jpg");
    } 
    .containerSegurosMobile{
        display: none;
    }
    .containerSegurosTopo{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }

    .containerCardSeguroTopo{
        width: 300px;
        min-height: 260px;
        background-color: #fff;
        border-radius: 29px;
        overflow: hidden;
        cursor: pointer;
        margin: 10px 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .containerCardSeguroTopo:hover{
        transition: all .3s ease-in-out;
        transform: scale(1.01);
        /* box-shadow: rgba(234, 223, 3, 0.2) 0px 7px 29px 0px; */
    }
    .containerTituloDescricaoCardSeguroTopo{
        height: 100px;
        padding: 20px;
    }
    .tituloCardSeguroTopo{
        font-weight: 700;
        margin-bottom: 10px;
    }
    .descricaoCardSeguroTopo{
        font-weight: 500;
        font-size: 14px;
        color: #666;
    }

    .imagemCardSeguroTopo{
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .imagemTopo:hover{
        /* transition: all .3s ease-in-out;
        transform: scale(1.05); */
    }


    .containerParceiros{
        margin-top: 50px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 0.3px dashed #666;
        /* background-color: aqua; */
    }
    .tituloParceiros{
        padding-bottom: 40px ;
        font-size: 25px;
        font-weight: 600;
    }
    .containerLogosParceiros{
        display: flex;
        gap: 100px;
    }
    .logoParceiros:hover{
        cursor: pointer;
        transition: all .3s ease-in-out;
        transform: scale(1.05);
    }

    .containerSeguros{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }
    .containerCardSeguro{
        height: 160px;
        width: 430px;
        padding: 40px 10px;
        cursor: pointer;
        border-bottom: 5px solid #fff;
        position: relative;
    }
    .containerCardSeguro:hover{
        border-bottom: 5px solid #EAC774;
    }

    .tituloSeguro{
        padding: 20px 0;
        font-size: 18px;
        font-weight: 600;
    }

    .descricaoSeguro{
        font-size: 14px;
    }
}
@media screen and (max-width: 830px) {
    .containerForaFraseBotaoCards{
        width: 100%;
        min-height: 450px;
        position: relative;
        background: linear-gradient(to bottom, #D9D9D9, transparent);
    
        /* overflow: hidden; */
    }
    .containerFraseBotao{
        padding-top: 100px;
        padding-bottom: 60px;
        align-items: center;
        padding: 50px 20px;
    }
    .containerFrase{
        max-width: 500px;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
    }
    .containerBotaoCotacao{
        width: 300px;
        margin: 20px 0;
        padding: 10px 0;
        border-radius: 25px;
        text-align: center;
        background-color: #000;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }
    .containerSlider{
        /* padding: 0 20px; */
        /* height: 500px; */
        background: linear-gradient(to bottom, #cecece, transparent);
    }
    .containerImagemSlider{
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
    }
    .imagem1Slide{
        background-image: url("../public/slide/image1.jpg");
    } 
    .imagem2Slide{
        background-image: url("../public/slide/image2.jpg");
    }
    .imagem3Slide{
        background-image: url("../public/slide/image3.jpg");
    }
    .slideSeguro{
        display: none;
    }
    .containerSegurosMobile{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }
    .containerSegurosTopo{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }
    
    .containerCardSeguroTopo{
        width: 430px;
        min-height: 340px;
        background-color: #fff;
        border-radius: 29px;
        overflow: hidden;
        cursor: pointer;
        margin: 10px 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .containerCardSeguroTopo:hover{
        box-shadow: rgba(234, 223, 3, 0.2) 0px 7px 29px 0px;
    }
    .containerTituloDescricaoCardSeguroTopo{
        min-height: 70px;
        padding: 20px;
    }
    .tituloCardSeguroTopo{
        font-weight: 700;
        margin-bottom: 10px;
    }
    .descricaoCardSeguroTopo{
        font-weight: 500;
        font-size: 14px;
        color: #666;
    }
    
    .imagemCardSeguroTopo{
        position: relative;
        width: 100%;
        height: 70%;
        overflow: hidden;
    }
    
    .imagemTopo:hover{
        transition: all .3s ease-in-out;
        transform: scale(1.05);
    }
    
    
    .containerParceiros{
        margin-top: 50px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 0.3px dashed #666;
        padding: 30px 0;
        /* background-color: aqua; */
    }
    .tituloParceiros{
        padding-bottom: 40px ;
        font-size: 25px;
        font-weight: 600;
    }
    .containerLogosParceiros{
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logoParceiros:hover{
        cursor: pointer;
        transition: all .3s ease-in-out;
        transform: scale(1.05);
    }
    
    .containerSeguros{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }
    .containerCardSeguro{
        height: 160px;
        width: 430px;
        padding: 40px 10px;
        cursor: pointer;
        border-bottom: 5px solid #fff;
        position: relative;
    }
    .containerCardSeguro:hover{
        border-bottom: 5px solid #EAC774;
    }
    
    .tituloSeguro{
        padding: 20px 0;
        font-size: 18px;
        font-weight: 600;
    }
    
    .descricaoSeguro{
        font-size: 14px;
    }
}